:root {
    --primary-color: #020428;
    --secondary-color: #cddcf9;
    --accent1-color: #9db1d6;
    --accent2-color: #1e3256;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    max-width: 1000px;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 5px;
}

body {
    font-family: var(--body-font);
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

nav a {
    display: block;
    padding: 5px;
    color: var(--accent1-color)
}

nav {
    display: flex;

}

header nav {
    justify-content: space-around;
    border: 3px solid var(--accent1-color);

}

footer nav {
    justify-content: flex-end;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}

nav,
p,
section,
article {
    padding: 8px;
    margin: 16px;
}

p {
    padding: .2rem;
}

.socialmedia a {
    text-decoration: none;
    width: 40px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

article {
    position: absolute;
    margin-left: 60%;
    top: 70px;
    width: 40%;
    padding: 10px;
    text-align: left;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
}

.hero article img {
    float: right;
    width: 150px;
    box-shadow: 0 0 20px rgb(10, 10, 10);
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 8fr;
    border: 3px solid var(--primary-color);
    align-items: center;
}

.history h2 {
    grid-column: 1/4;
    text-align: center;
}

.history img {
    width: 300px;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    border: 3px solid var(--primary-color);
    align-items: center;
    text-align: center;
}

.adventure h2 {
    grid-column: 1/6;
}

.adventure img {
    width: 150px;
}

.information {
    position: relative;
    margin: 0;
    padding-top: 6rem;
    text-align: center;
}

.information h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.information p {
    font-size: 1.5rem;
}

.contact {
    display: flex;
}

iframe {
    width: 100%;
    border-style: hidden;
}

form {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

fieldset {
    border: solid 3px var(--accent2-color);
    padding: 10px;
    margin: 10px;
    text-align: left;
}

fieldset div {
    margin: 15px;
}

label,
input,
textarea {
    font-size: 1.1rem;
}

input:focus,
select:focus,
textarea:focus {
    outline: 2px solid var(--accent2-color);
}

button {
    font-size: 1.25em;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 3px solid var(--accent2-color);
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

.employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    border: 3px solid var(--primary-color);
    align-items: center;
    text-align: center;
}

.employees h2 {
    grid-column: 1/4;
    text-align: center;
}

.employees img {
    width: 150px;
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    text-align: right;
}