:root {
    --main-border: 1px solid black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    max-width: 840px;
}

p {
    padding: 0;
    margin: 20px;

}

main img {
    width: 200px;
    height: auto;
    border: 1px solid rgb(255, 255, 255);
    padding: 2px;
    box-shadow: 0 0 30px rgb(10, 10, 10);
    float: right;
}

aside {
    width: 300px;
    margin: 10px 0;
    border: var(--main-border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: left;
    position: relative;

}

aside img {
    width: 265px;
    height: auto;
    display: block;

}

aside h2 {
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    top: 2rem;
}

nav {
    background-color: rgb(2, 121, 168);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(2, 121, 168);
}

footer {
    margin-top: 20px;
    border-top: var(--main-border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--main-border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}